<!DOCTYPE html>
<html>
<head>
    <title>Guess The Date</title>
    <link rel="icon" href="/public/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/public/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="public/css/game.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Lusitana:wght@400;700&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
    <style>
        .info { padding: 10px; font-size: 16px; }
    </style>
    <script src="/public/js/game.js" defer></script>
</head>
<body>
    <h1>Guess The Date</h1>
    <div id = "game">
        <div id="photo-container">
            <img id="photo" src="">
        </div>
        <div id = "scoreNow">
            <div id = "Score">
                <h3> Score </h3>
                <p id="currentScore">0</p>
            </div>
            <div id = "Round">
                <h3>Round</h3>
                <p id ="currentRound">1</p>
            </div>  
        </div>
        <div id = "displayScore">
            <p>
                
            </p>
        </div>
        <div id="map"></div>
    </div>
    <div class="sliderContainer">
        <p>Move the Slider to Set the Date</p>
        <input type="range" min="1800" max="2024" value="1012" id="yearSlider">
        <div class="value-display" id="yearDisplay">1800</div>
        <button class = "takeGuess">Submit Guess</button>
      </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-ajax"></script>
</body>
</html>
