<!DOCTYPE html>
<html>

<head>
    <title>Guess The Date</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="public/css/global.css">
    <style>
        #map {
            height: 600px;
        }

        .info {
            padding: 10px;
            font-size: 16px;
        }
    </style>
    <script src="public/js/index.js" defer></script>
</head>

<body style="display: flex; justify-content: center; align-items: center;">
    <h1>PAGE NOT FOUND!!!</h1>
</body>

</html>